/* .carousel-item img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 50% !important;
} */

.carousel-indicators [data-coreui-target] {
  background-color: #000 !important;
  opacity: 0.3;
}
.carousel-indicators .active {
  opacity: 1;
}
.carousel-indicators {
  bottom: -5rem;
}
.carousel-control-next,
.carousel-control-prev {
  height: auto;
  width: 7%;
}
.carousel-control-next:focus,
.carousel-control-prev:focus {
  display: none;
}
.icon:not(.icon-c-s):not(.icon-custom-size) {
  width: inherit;
  height: inherit;
  font-size: inherit;
}
.carousel-control-next-icon,
.carousel-control-prev-icon {
  background-color: #bebebe;
  border-radius: 50%;
  padding: 1.4rem;
}
